name: DR2 Run Lambda Tests
on:
  pull_request:
    paths-ignore: ["docs/**"]
permissions:
  id-token: write
  contents: write
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
      - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd
      - uses: scalacenter/sbt-dependency-submission@64084844d2b0a9b6c3765f33acde2fbe3f5ae7d3
      - uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261
        with:
          fail-on-severity: critical
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
      - run: |
          (cd terraform && terraform fmt -check --recursive)
          find . -name requirements.txt | xargs -I {} pip install -r {}
          AWS_DEFAULT_REGION=eu-west-2 pytest
          sbt e2eTests/scalafmtCheckAll scalafmtCheckAll test
          (cd kotlin/e2e-tests/lib && gradle test)



