name: DR2 Run Lambda Tests
on:
  pull_request:
    paths-ignore:
      - "docs/**"
      - "**/README.md"
permissions:
  id-token: write
  contents: write
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: sbt/setup-sbt@ae54f7cfe46ec0d24ade661d77f007360ab48bda # v1.1.16
      - uses: scalacenter/sbt-dependency-submission@f43202114d7522a4b233e052f82c2eea8d658134 # v3.2.1
      - uses: actions/dependency-review-action@05fe4576374b728f0c523d6a13d64c25081e0803 # v4.8.3
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
      - run: |
          curl -Lo wizcli https://downloads.wiz.io/v1/wizcli/latest/wizcli-linux-amd64
          chmod +x wizcli
          ./wizcli auth --id ${{ secrets.WIZ_CLIENT_ID }} --secret ${{ secrets.WIZ_CLIENT_SECRET }}
          ./wizcli scan dir terraform
          (cd terraform && terraform fmt -check --recursive)
          find . -name requirements.txt | xargs -I {} pip install -r {}
          pytest
          (cd rust/lambdas/courtdoc-anonymiser && cargo fmt --check && cargo test --workspace)
          sbt scalafmtCheckAll test
          (cd kotlin/e2e-tests/lib && gradle test)
        env:
          AWS_DEFAULT_REGION: eu-west-2
          AWS_ACCESS_KEY_ID: test
          AWS_SECRET_ACCESS_KEY: test




